<div class="app">
    <mat-drawer-container>
        <mat-drawer #drawer class="app-sidenav" mode="side">
            MENU
            <app-playlist></app-playlist>
        </mat-drawer>
        <button mat-icon-button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="app-content">
            <h1>Awesome Music blender</h1>
              <app-audio-player></app-audio-player>
        </div>
    </mat-drawer-container>
</div>
